<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    Lunch Now
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/styles/normalize.css">
  <link rel="stylesheet" href="/vendor/styles/reset.css">
  <link rel="stylesheet" href="/vendor/styles/icons.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link href="https://fonts.googleapis.com/css?family=Galindo" rel="stylesheet">
</head>

<body>
