<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    Lunch Now
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/styles/normalize.css">
  <link rel="stylesheet" href="/vendor/styles/reset.css">
  <link rel="stylesheet" href="/vendor/styles/icons.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <!-- Better to pull in fonts in a single link, rather than 4, and to do that before you pull in the stylesheets that use them. -->
  <link href="https://fonts.googleapis.com/css?family=Galindo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Merriweather+Sans|Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Questrial" rel="stylesheet">
</head>

<body>
  <header class="clearfix">
    <section class="heading-group-h1">
      <a href="/">
        <h1 class='headerTitle'>LunchNOW</h1>
      </a>
      <h2 class="subtitle">A healthier lifestyle awaits..</h2>
    </section>
  </header>