<div class="media-obj">
  <img class="media-obj__picture" src="<%= recipe.image_url %>" />
  <div class="media-obj__data">
    <h3 class="media-obj__header">
      <%= recipe.title %>
    </h3>
    <h4 class="media-obj__header  --smaller">
      <%= recipe.ingredients %>
    </h4>
    <p class="data__text  --long">
      <%=recipe.method %>
    </p>
  </div>
</div>
