<nav>
    <!-- <div class="icon-menu"></div> -->
    <div class="nav-container">
        <ul>
            <li class="tab"><a href="/" >HOME</a></li>
            <li class="tab"><a href="/favorites">FAVORITE RECIPES</a></li>
            <li class="tab"><a href="/shoppinglist">SHOPPING LIST</a></li>
            <li class="tab"><a href="/aboutus">ABOUT</a></li>
        </ul>
    </div>
</nav>
