<form action="/search/results" method="GET">
  <input type="text" name="searchBar" class="searchbar" placeholder="Search with ingredients to find your next favorite recipe" />
  <!-- <input type="submit" value="search!" class="button"/> -->
</form>