<form action="/search/results" method="GET">
  <input type="text" name="searchBar" class="searchbar" placeholder="enter ingredient(s) to find recipes"/>
  <!-- <input type="submit" value="search!" class="button"/> -->
</form>
