<%- include('../../partials/header'); -%>



<% recipes.forEach( recipe => { %>
<div>
  <form action="/recipes" method="post">
    <input type="hidden" name="recipe_id" value="<%= recipe.id %>">  
    <img src = "<%= recipe.image_url %>"/>
    <input type="submit" value="Save" />
    
  </form>
</div>
<% }); %>
<%- include('../../partials/footer'); -%>