<%- include('partials/header'); -%>

<header class="clearfix">
  <section class="heading-group-h1">
    <h1>
      Lunch Now.
    </h1>
    <h2>The shocking power of back-end engines</h2>
  </section>
  <%- include('partials/nav') -%>
</header>
<main>
  <section>
    <h2>All Recipes </h2>
    
  </section>
</main>
<%- include('partials/footer'); -%>
