<%- include('partials/header'); -%>
<%- include('partials/nav') -%>
<main>

    <form action="/search_results" method="GET">
      <input type="text" name="searchBar" class="searchbar" />
      <input type="submit" value="search!" />
    </form>


  <section>
    <% recipes.forEach( recipe => { %>
    <%- include('partials/itemFull', {recipe: recipe}); -%>
    
    <% }); %>

  </section>
</main>
<%- include('partials/footer'); -%>