<%- include('../partials/header'); -%>
<%- include('../partials/nav') -%>
<main>
  <h1 class='about-title'>Our Team Story</h1>
  <div class="body-container">

  <div class="story">
    <p>
        <span> TEAM - </span>We are a diverse multifunctional team, with a huge passion for coding. Our diverse backgrounds and experiences bring many advantages to our team. We approach problems hollistically and we are huge believers in never-ending knowledge and are on a conquest to keep learning. We're excited to make cutting edge break throughs in technology and hope to share our knowledge with the world. </p>
      <p>
        <span> LUNCHNOW -  </span> The goal of this website is to create something that fits our crazy day to day lifestyles. This is for all the days you need a low calorie meal, when you need inspirations to eating healthier, or if you have random ingredients in your fridge that you need to use. We hope we are able to implement something meaningful that will add value to your lives. 
      </p>

        
       
  </div>
    

    <div class="about-container">
      <div class="about-div">
        <img class="about-img" src="/styles/assets/alex.png">
        <h2 class="name"> Alex </h2>
        <img src="/styles/assets/favicon-linkedin-square.ico" alt="linkedin" class="favicon" /></a>
        <a href="https://github.com/al1s"><img src="/styles/assets/favicon-github.ico" alt="github" class="favicon" /></a>
      </div>
      <div class="about-div">
        <img class="about-img" src="/styles/assets/jeremy.jpeg">
        <h2 class="name"> Jeremy </h2>
        <img src="/styles/assets/favicon-linkedin-square.ico" alt="linkedin" class="favicon" /></a>
        <a href="https://github.com/mtncrawler"><img src="/styles/assets/favicon-github.ico" alt="github" class="favicon" /></a>
      </div>
      <div class="about-div">
        <img class="about-img" src="/styles/assets/suzy.jpeg">
        <h2 class="name"> Suzanne </h2>
        <img src="/styles/assets/favicon-linkedin-square.ico" alt="linkedin" class="favicon" /></a>
        <a href="https://github.com/tiramisuzie"><img src="/styles/assets/favicon-github.ico" alt="github" class="favicon" /></a>
      </div>
    </div>
  </div>

</main>
<%- include('../partials/scripts') -%>
<%- include('../partials/footer'); -%>