<%- include('../partials/header'); -%>
<%- include('../partials/nav') -%>
<h1>Our Team Story</h1>

<div class="about-container">
  <div class="about-div">
    <img class="about-img" src="/styles/assets/alex.png">
  </div>
  <div class="about-div">
    <img class="about-img" src="/styles/assets/jeremy.jpeg">
  </div>
  <div class="about-div">
    <img class="about-img" src="/styles/assets/suzy.jpeg">
  </div>
</div>
<%- include('../partials/footer'); -%>
