<%- include('../partials/header'); -%>
<header class="clearfix">
  <section class="heading-group-h1">
    <h1>
      Book App!
    </h1>
    <h2>The shocking power of back-end engines</h2>
  </section>
</header>
<main>
  <section id="error" class="error-content">
    <h1>
      We've got error -
      <%= code %>
    </h1>
    <p class="message">
      <%= message %>
    </p>
  </section>
</main>
<%- include('../partials/footer'); -%>