<%- include('../partials/header'); -%>

<main>
  <section id="error" class="error-content">
    <h1>
      We've got error -
      <%= code %>
    </h1>
    <p class="message">
      <%= message %>
    </p>
  </section>
</main>
<%- include('../partials/footer'); -%>