/* === BASE RULES === */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  background-image: url("./assets/marble.jpg");
}

html {
  box-sizing: border-box;
}

p {
  padding: 15px;
}

* {
  box-sizing: inherit;
}

span {
  /* margin-left: 20px; */
  font-weight: bolder;
}