/* === BASE RULES === */

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  background-image: url("./assets/marble.jpg");
}

main {
  margin: 0 20px;
}

html {
 box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

