h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: "Abril Fatface", cursive;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
  font-family: "Dancing Script", cursive;
}

iframe {
  width: 90%;
  margin: 0 5%;
  height: 90vh;
}

.media-obj {
  background-color: white;
}


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
  .about-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.body-container {
  background-color: white;
}
