/* === OVERALL MODULE RULES === */

body > header {
  background: white;
}
a,
a:visited {
  text-decoration: none;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.75em;
  margin-right: 0.4em;
  padding: 0.5em 5em;

  color: black;
  text-transform: uppercase;
}
a:hover {
  font-weight: 300;
}

.nav-container {
  background: white;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
  text-align: center;
  padding: 0.5em;
}

.searchbar {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: none;
  border: none;
  width: 80%;
  margin: 10%;
  padding: 10px;
  flex: 1 1 auto;
  display: block;
  -webkit-appearance: none;
  opacity: 0.8;
}

form {
  width: 100%;
}
.searchBarContainer {
  background-image: url("./assets/salad.jpg");
  background-size: cover;
  height: 60vw;
  display: flex;
}
.main-deck {
  display: grid;
  width: 100%;
  grid-gap: 3em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j";
}

@media screen and (min-width: 40em) {
  .main-deck {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h"
      "i j";
  }
}
@media screen and (min-width: 60em) {
  .main-deck {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a b c"
      "d e f"
      "g h i"
      ". j .";
  }
}
/* =========== Media object ============*/
.media-obj {
  box-shadow: 1px 1px 2px 2px #29506d;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.media-obj__picture {
  flex: 1 1 auto;
  min-width: 20%;
  height: auto;
}
.media-obj__data {
  width: 100%;
  text-align: center;
}
.media-obj__header {
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px #29506d;
}
.--smaller {
  font-size: 1.2em;
  color: initial;
  text-shadow: initial;
  font-style: italic;
}
.data__text {
}
.--short {
  font-style: italic;
}
.--long {
  background-color: #eee;
  padding: 0.7em;
  text-align: initial;
}

.media-obj__button {
  padding: 0;
}
.media-obj__button::after {
  content: " \2665";
  font-size: 3em;
  color: #aaaaaa;
}

.--red::after {
  color: red;
  content: " \2665";
  font-size: 3em;
}

.data__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list__elm {
  flex: 1 1 auto;
  width: 45%;
  text-align: left;
}

.media-obj:nth-of-type(1) {
  grid-area: a;
}
.media-obj:nth-of-type(2) {
  grid-area: b;
}
.media-obj:nth-of-type(3) {
  grid-area: c;
}
.media-obj:nth-of-type(4) {
  grid-area: d;
}
.media-obj:nth-of-type(5) {
  grid-area: e;
}
.media-obj:nth-of-type(6) {
  grid-area: f;
}
.media-obj:nth-of-type(7) {
  grid-area: g;
}
.media-obj:nth-of-type(8) {
  grid-area: h;
}
.media-obj:nth-of-type(9) {
  grid-area: i;
}
.media-obj:nth-of-type(10) {
  grid-area: j;
}
/* =========== Media object end ============*/

.input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 0.3em;
  padding: 0.5em;
}

.label {
  display: inline-block;
  position: relative;
  left: -999px;
}

.form__header {
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 1em;
}

/*
  .icon-menu {
    display: none;
  }

  nav {
    padding: 0.2em 0.2em 0.2em 2em;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline;
    border-bottom: none;
  }

  nav ul li:hover a {
    color: #29506d;
  }
}
*/
