/* === OVERALL MODULE RULES === */


body > header {
  background: white;
}
a,
a:visited {
  text-decoration: none;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.75em;
  margin-right: 0.4em;
  padding: 0.5em 5em;

  color: black;
  text-transform: uppercase;
}
a:hover {
  font-weight: 300;
}

.nav-container {
  background: white;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
  text-align: center;
  padding: 0.5em;
}

.searchbar {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: none;
  border: none;
  width: 80%;
  padding: 1em 3em;
  flex: 1 1 auto;
  display: inline-block;
  -webkit-appearance: none;
  opacity: .8;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M1216%20832q0-185-131.5-316.5t-316.5-131.5-316.5%20131.5-131.5%20316.5%20131.5%20316.5%20316.5%20131.5%20316.5-131.5%20131.5-316.5zm512%20832q0%2052-38%2090t-90%2038q-54%200-90-38l-343-342q-179%20124-399%20124-143%200-273.5-55.5t-225-150-150-225-55.5-273.5%2055.5-273.5%20150-225%20225-150%20273.5-55.5%20273.5%2055.5%20225%20150%20150%20225%2055.5%20273.5q0%20220-124%20399l343%20343q37%2037%2037%2090z%22/%3E%0A%3C/svg%3E');
  background-position: 0.3rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

.button {
  display: inline-block;
}

form {
  width: 80%;
  margin: 4em auto;
  
}
.searchBarContainer {
  background-image: url("./assets/salad.jpg");
  background-size: cover;
  height: 60vw;
  display: flex;

}

.about-img {
  object-fit: cover;
  object-position: top center;
  width: 12em;
  height: 14em;
  border-radius: 50%;
}

/* =========== Media object ============*/
.media-obj {
  box-shadow: 1px 1px 2px 2px #29506d;
  width: 80vw;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.media-obj__picture {
  flex: 1 1 auto;
  min-width: 20%;
  height: auto;
}
.media-obj__data {
  width: 100%;
  text-align: center;
}
.media-obj__header {
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px #29506d;
}
.--smaller {
  font-size: 1.2em;
  color: initial;
  text-shadow: initial;
  font-style: italic;
}
.data__text {
}
.--short {
  font-style: italic;
}
.--long {
  background-color: #eee;
  padding: 0.7em;
  text-align: initial;
}

.media-obj__button {
  padding: 0;
}
.media-obj__button::after {
  content: " \2665";
  font-size: 3em;
  color: #aaaaaa;
}

.--red::after {
  color: red;
  content: " \2665";
  font-size: 3em;
}

.data__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list__elm {
  flex: 1 1 auto;
  width: 45%;
  text-align: left;
}
/* =========== Media object end ============*/

.input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 0.3em;
  padding: 0.5em;
}

.label {
  display: inline-block;
  position: relative;
  left: -999px;
}

.form__header {
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 1em;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  nav {
    padding: 0.2em 0.2em 0.2em 2em;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline;
    border-bottom: none;
  }

  nav ul li:hover a {
    color: #29506d;
  }
}
