/* === OVERALL MODULE RULES === */
#headerTitle h1 {
  text-align: center;

  font-size: 2.5em;
  font-family: "Abril Fatface", cursive;

}

body > header {
  background: white;
}

a,
a:visited {
  text-decoration: none;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.75em;
  margin-right: 0.4em;
  color: black;
}
.tab:hover {
  font-weight: bolder;
  font-size: 1.1em;
}

.nav-container {
  background: white;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
  text-align: center;
  padding: 0.5em;
}

.message {
  font-family: "Merriweather Sans", sans-serif;
  padding-left: 35px;
  font-size: 1.2em;
}

.searchbar {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: none;
  border: none;
  width: 100%;
  padding: 1em 3em;
  flex: 1 1 auto;
  display: inline-block;
  -webkit-appearance: none;
  opacity: 0.8;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M1216%20832q0-185-131.5-316.5t-316.5-131.5-316.5%20131.5-131.5%20316.5%20131.5%20316.5%20316.5%20131.5%20316.5-131.5%20131.5-316.5zm512%20832q0%2052-38%2090t-90%2038q-54%200-90-38l-343-342q-179%20124-399%20124-143%200-273.5-55.5t-225-150-150-225-55.5-273.5%2055.5-273.5%20150-225%20225-150%20273.5-55.5%20273.5%2055.5%20225%20150%20150%20225%2055.5%20273.5q0%20220-124%20399l343%20343q37%2037%2037%2090z%22/%3E%0A%3C/svg%3E");
  background-position: 0.3rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
}

::-webkit-input-placeholder {
  color: #444343;
  text-align: center;
  font-style: oblique;
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: 1px;
}

.button {
  display: inline-block;
}

.tab {
  padding: 1em 5em;
  font-size: .95em;
}
form {
  width: 80%;
  margin: 6em auto;
}

.searchBarContainer {
  background-image: url("./assets/salad.jpg");
  background-size: cover;
  background-position: center;
  height: 39vw;
  display: flex;
}

.favicon {
  height: 1.3em;
}


.name {
  font-size: 1.8em;
  font-weight: 400;
  font-family: 'Lobster', cursive;

}
.comingsoon {
  font-family: 'Lobster', cursive;
  font-display: center;
  font-size: 5em;
}

.main-deck {
  display: grid;
  width: 100%;
  padding: 0 3em;
  grid-gap: 3em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j";
}

@media screen and (min-width: 40em) {
  .main-deck {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h"
      "i j";
  }
}
@media screen and (min-width: 60em) {
  .main-deck {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a b c"
      "d e f"
      "g h i"
      ". j .";
  }
}

.about-img {
  object-fit: cover;
  object-position: top center;
  width: 12em;
  height: 14em;
  border-radius: 50%;
}

/* =========== Media object ============*/
.media-obj {
  border: grey;
  border-style: double;
  border-width: medium;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.media-obj__figure {
  display: table;
}

.media-obj__picture {
  flex: 1 1 auto;
  min-width: 20%;
  height: auto;
}
.media-obj__data {
  width: 100%;
  text-align: center;
  font-display: sans-serif;
  max-height: 0;
  max-width: 0;
}
.media-obj__header {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  display: table-caption;
  caption-side: bottom;
}
.--smaller {
  font-size: 1.2em;
  color: initial;
  text-shadow: initial;
  font-style: italic;
}
.--short {
  font-style: italic;
}
.--long {
  background-color: #eee;
  padding: 0.7em;
  text-align: initial;
}

.media-obj__button {
  padding: 0;
  position: absolute;
  top: 21em;
  left: 22em;
}
.media-obj__button .icon__heart .heart__outline {
  fill: white;
}

.media-obj__button .icon__heart {
  fill: black;
}

.--red .icon__heart {
  fill: red;
}
/* .media-obj__button::after {
  content: " \2665";
  font-size: 3em;
  color: #aaaaaa;
}

.--red::after {
  color: red;
  content: " \2665";
  font-size: 3em;
} */

.data__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.list__elm {
  flex: 1 1 auto;
  width: 45%;
  text-align: left;
  opacity: 0;
}

.media-obj:nth-of-type(1) {
  grid-area: a;
}
.media-obj:nth-of-type(2) {
  grid-area: b;
}
.media-obj:nth-of-type(3) {
  grid-area: c;
}
.media-obj:nth-of-type(4) {
  grid-area: d;
}
.media-obj:nth-of-type(5) {
  grid-area: e;
}
.media-obj:nth-of-type(6) {
  grid-area: f;
}
.media-obj:nth-of-type(7) {
  grid-area: g;
}
.media-obj:nth-of-type(8) {
  grid-area: h;
}
.media-obj:nth-of-type(9) {
  grid-area: i;
}
.media-obj:nth-of-type(10) {
  grid-area: j;
}
/* =========== Media object end ============*/

.button__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  bottom: 8em;
}

.button__wrapper .media-obj__button {
  left: 5%;
  top: 1em;
}

.input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 0.3em;
  padding: 0.5em;
}

.label {
  display: inline-block;
  position: relative;
  left: -999px;
}

.form__header {
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 1em;
}

@media screen and (min-width: 30em) {
  .icon-menu {
    display: none;
  }

  .icon-menu {
    display: none;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: inline;
    border-bottom: none;
  }

  nav ul li:hover a {
    color: #29506d;
  }
}
