<%- include('../../partials/header'); -%>
<%- include('../../partials/nav') -%>
<% if(added){ %>
    <p>Successfully Stored Book!</p>
<% } %>
<%- include('../../partials/itemFull', {book: book}); -%>
<%- include('../../partials/footer'); -%>